[submodule "alfredv"]
	path = alfredv
	url = https://github.com/azizhanazizoglu/AlfredV.git
[submodule "products/shopify-product"]
	path = products/shopify-product
	url = https://github.com/azizhanazizoglu/ShopifyProduct.git
