[submodule "alfredv"]
	path = alfredv
	url = https://github.com/azizhanazizoglu/AlfredV.git
[submodule "ShopifyLightning"]
	path = ShopifyLightning
	url = https://github.com/azizhanazizoglu/ShopifyLightning.git
